streamlit==1.39.0
python-dotenv==1.0.1
pymupdf==1.24.12
pypdf==4.3.1
langchain==0.3.14
langchain-community==0.3.14
langchain-text-splitters==0.3.4
langchain-huggingface==0.0.6
langchain-chroma==0.1.4
langchain-groq==0.2.2
langchain-core==0.3.33
chromadb==0.5.23
sentence-transformers==3.3.1
groq==0.11.0
gtts==2.5.3
Pillow==11.0.0
